@charset "UTF-8";

body {
    max-width: 1440px;
    margin: 0 auto;
}

header img {
    margin-bottom: 100px;
    max-width: 100%;
}


/*  */

.section1 {
    display: flex;
    margin-bottom: 43px;
}
.left {
    width: 50%;
}

.left p {
    margin-left: 132px;
    margin-right: 83px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}

h1 {
    font-size: 24px;
    line-height: 38px;
    font-weight: 400;
    margin-top: 22px;
    margin-bottom: 32px;
    text-align: center;
}

.section1 p img {
    max-width:100%;
}

/*  */
.h222 {
    text-align: center;
    font-family: Open Sans;
}

.ap {
    font-size: 56px;
    line-height: 76.26px;
    font-weight: 400;
}

.bp {
    font-size: 16px;
    line-height: 23.55px;
    margin-left: 201px;
    color: #666666;
    margin-bottom: 40px;
}

.bp1 {
    font-size: 16px;
    line-height: 23.55px;
    margin-left: 57px;
    color: #666666;
    margin-bottom: 40px;
}

.bp2 {
    font-size: 16px;
    line-height: 23.55px;
    margin-left: 106px;
    color: #666666;
    margin-bottom: 40px;
}

.waku {
    display: flex;
    justify-content: center;
}

.imag1 {
    margin-right: 22px;
}
.imag2 {
    margin-left: 22px;
    margin-right: 22px;
}
.imag3 {
    margin-left: 22px;
}

.imag > p {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 96px;
}

/* girl */
.girl {
    display: flex;
    justify-content: center;
}

.girlright {
    margin-right: 276px;
    padding-left: 60px;
}

.cp {
    font-weight: 400;
    font-size: 14px;
    line-height: 20.61px;
    margin-bottom: 2px;
    color: #666666;
}

.dp {
    font-weight: 400;
    font-size: 16px;
    line-height: 23.55px;
    margin-bottom: 16px;
}

.ep {
    font-weight: 400;
    font-size: 16px;
    line-height: 23.55px;
    color: #666666;
}

.fp {
    margin-bottom: 56px;
}
.girlleft{
    max-width: 100%;
    margin-left: 276px;
}

.gp {
    margin-bottom: 96px;
}

/*  */
.section4 p {
    margin-top: 8px;
    margin-bottom: 24px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 23.55px;
}

.section4 a {
    font-weight: 400;
    font-size: 20px;
    line-height: 29.44px;
    letter-spacing: 1%;
    background-color: #EF2B2B;
    color: #ffffff;
    padding: 16px 40px;
}

.act {
    text-align: center;
    margin-bottom: 120px;
}

/* footer */
footer {
    display: flex;
    justify-content: space-between;
    background-color: #EAEAEA;
}

nav ul {
    display: flex;
    margin-top: 19.5px;
    margin-bottom: 19.5px;
}

nav ul li {
    margin-right: 24px;
}

.hp {

    font-weight: 300;
    font-size: 20px;
    line-height: 28.96px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 24px;
}

@media screen and (max-width:1000px){

    .wraper img {
        margin-bottom: 0;
    }

    .section1 {
     display: block;
     margin-bottom: 29px;
     margin-top: 44px;
     }

     .left {
         width: 100%;
         padding-left: 16px;
         padding-right: 16px;
     }

     .left h1 {
         text-align: center;
         font-size: 24px;
         line-height: 38px;
     }

     .left p {
         font-size: 15px;
         line-height: 26px;
         margin: 0;
         margin-bottom: 36px;
     }

     .section1 p img {
         margin-bottom: 29px;
     }

     /*  */
     .ap {
         font-size: 36px;
         line-height: 49px;
     }

     .bp {
         font-size: 13px;
         line-height: 19px;
         margin-left: 113px;
         margin-bottom: 24px;
     }

     .waku {
         display: block;
     }

     .imag {
         text-align: center;
     }
     .imag1 ,
     .imag2 ,
     .imag3 {
         margin: 0 auto 0 auto;
     }

     .imag > p {
         margin-bottom: 40px;
     }

     .section3 {
         margin-top: 24px;
     }

     .bp1 {
         margin-left: 25px;
     }

     .girl {
         display: block;
     }

     .girlleft {
         text-align: center;
         margin: 0 auto 6px auto;
     }

     .girlright {
         margin: 8px auto 0 auto;
         padding: 0 30px 0 30px;
     }

     .cp ,
     .dp {
         text-align: center;
     }

     .bp2 {
         margin-left: 52px;
         margin-top: 8px;
     }

     .act {
         margin-bottom: 60px;
         margin-top: 24px;
     }

     .section4 p {
         font-size: 15px;
         line-height: 22.08px;
         margin-bottom: 40px;
     }

     .section4 a {
        font-size: 18px;
        line-height: 26.5px;
     }

     /*  */
     footer {
         display: block;
     }
     .hp {
         text-align: center;
         padding-top: 16px;
         padding-bottom: 16px;
         margin-left: 0;
     }

     footer ul {
         flex-wrap: wrap;
         margin-bottom: 0;
     }

     footer li {
         font-size: 14px;
         line-height: 21px;
     }

     .hp1 {
         margin-left: 76px;
     }

     .hp2 {
         margin-left: 24px;
     }
     .hp3 {
         margin-top: 8px;
         margin-left: 102px;
         padding-bottom: 16px;
     }


}